/** Color palette
* #E37222 (Tangerine)
* #07889B (Teal)
* #66B9BF (Powder)
* #96D6DC (Light Powder)
* #EEAA7B (Tan)
*/

.fa {
  color: #EEAA7B;
}

header {
  background-color: #07889B;
  padding: 50px 0;
}

body > section:nth-child(odd) {
  background-color: #66B9BF;
}

body > section:nth-child(even) {
  background-color: #96D6DC;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
  margin-bottom: 36px;
}

header .fa {
  font-size: 42px;
  margin: 18px 18px 0;
  transition: 0.5s;
  color: white;
}

header .fa:hover {
  color: #EEAA7B;
  transition: 0.5s;
}

nav li {
  font-size: 20px;
  margin: 12px 0;
}

nav a {
  text-decoration: none;
    transition: 0.6s;
}

nav a:hover {
  color: #07889B;
  transition: 0.6s;
}

.center {
  text-align: center;
}

section {
  min-height: 400px;
  text-align: center;
  padding: 50px 0;
}

.example {
  margin: 0 auto;
}

.toggle-code {
  display: block;
  margin: 150px auto 12px;
  width: 300px;
}

.btn {
  background-color: #EEAA7B;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;

}

.toggle-code:hover {
}

.toggle-code:hover .code-snip {

}

.code-snip {
  display:  none;
  transition: 0.3s;
  margin: 18px auto;
  height: 200px;
}

footer {
  background-color: #07889B;
  height: 100px;
  text-align: center;
  padding-top: 40px;
}

.flex {
  display: flex;
}


/**********
Example elements
**********/

.trans {
  transition: 1s;
}

.trans:hover {
  transition: 1s;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #E37222;
  margin: 0 auto;
}

.square:hover {
  cursor: pointer;

}

.triangle {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid #E37222;
  margin: 0 auto;
}

.triangle:hover {
  cursor: pointer;
}

/* Rotate & Scale*/
.rotate:hover {
  transform: rotate(180deg) scale(1.4);
}

/* Translate */
.translate-box {
  margin: 0 auto;
  width: 340px;
  height: 200px;
  border: 2px dashed #07889B;
  position: relative;
}


.translate-box:hover {
  cursor: pointer;
}

.translate-box > div {
  width: 30px;
  height: 30px;
  position: absolute;
  transition: 2s;
  background-color: #E37222;
}

.tri-top-right {
  right: 0px;
}

.tri-btm-left {
  bottom: 0px;
}
.tri-btm-right {
  bottom: 0px;
  right: 0px;
}

.translate-box:hover > div {
  transition: 2s;
}

.translate-box:hover .tri-top-left {
  transform: translateY(170px);
}
.translate-box:hover .tri-top-right {
  transform: translateX(-310px);
}
.translate-box:hover .tri-btm-left {
  transform: translateX(310px);
}
.translate-box:hover .tri-btm-right {
  transform: translateY(-170px);
}


.sliding-square {
  width: 100px;
  height: 100px;
  background-color: #07889B;
  margin: 0;
}

/* Dropdown */
.ex-dd {
  border: 2px dashed #07889B;
  border-radius: 8px;
  height: 200px;;
  width: 200px;
}

.dropdown {
  width: 140px;
  margin: 0 auto;
  padding: 20px;
}
.dropdown > a {
  padding: 10px;
  cursor: pointer;
  font-size: 18px;

}

.dropdown i {
  color: white;
  margin-left: 4px;
}

.dropdown:hover ul {
  display: block;
}

.dropdown ul {
  display: none;
  padding: 20px;
  width: 100px;
  margin: 10px auto;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #07889B;
  border-radius: 3px;
}

.dropdown ul li {
  padding-bottom: 10px;
}

.dropdown ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Flexbox */

#flexbox {
    text-align: none;
}

#flexbox > h4 {
  margin-bottom: 8px;
  font-size: 20px;

}


.flex-box {
  margin: 0 auto 120px;
  padding: 20px;
  width: 80%;
  border: 3px dashed #07889B;
  border-radius: 8px;
}


.space-bt {
  justify-content: space-between;
}

.space-ar {
  justify-content: space-around;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

/* Z-Index */
.z-container {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  position: relative;
}

.z-one, .z-two, .z-three, .z-four {
  position: absolute;
  width: 100px;
  height: 100px;
}

.z-one {
  background-color: lightblue;
  border: 5px solid blue;
  z-index: 20;
}
.z-two {
  background-color: lightgreen;
  border: 5px solid green;
  left: 10px;
  top: 30px;
  z-index: 10;
}
.z-three {
  background-color: lightyellow;
  border: 5px solid yellow;
  left: 40px;
  top: 40px;
  z-index; 15;
}
.z-four {
  background-color: pink;
  border: 5px solid red;
  left: 50px;
  z-index: 19;
}


@keyframes fade {
  0%   { opacity: 0; }
  50%  { opacity: 0.8; }
  100% { opacity: 0; }
}

#snow {
  margin: 0 auto;
}

#snow li {
  animation-name: fade;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#snow ul {
  display: flex;
  justify-content: center;
}
