/** Color palette
* #E37222 (Tangerine)
* #2C3E50 (Teal)
* #66B9BF (Powder)
* #96D6DC (Light Powder)
* #EEAA7B (Tan)
*/


/*New Colors
Dark Blue: #2C3E50
*/

.fa {
  color: #EEAA7B;
}

header {
  background-color: #2C3E50;
  padding: 50px 0 0;
}

body > section:nth-child(odd) {
  background-color: #ADD8E6;
}

body > section:nth-child(even) {
  background-color: #7EB8CB;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
  margin-bottom: 48px;
}

header .fa {
  font-size: 42px;
  margin: 30px 18px 20px;
  transition: 0.5s;
  color: white;
}

header .fa:hover {
  color: #7EB8CB;
  transition: 0.5s;
}

nav li {
  font-size: 20px;
  margin: 12px 0;
}

nav a {
  text-decoration: none;
    transition: 0.6s;
}

nav a:hover {
  color: #2C3E50;
  transition: 0.6s;
}

.center {
  text-align: center;
}

section {
  min-height: 300px;
  text-align: center;
  padding: 50px 0;
}

.example {
  margin: 0 auto;
}

.toggle-code {
  display: block;
  margin: 60px auto 12px;
  width: 100px;
}

.btn {
  background-color: #EEAA7B;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  width: 100px;
  margin: 0 auto;
}

.toggle-code:hover .btn {
  background: orange;
}

.toggle-code:hover {
  width: 800px;

}

.toggle-code:hover .code-snip {
  display: block;
}

.code-snip {
  text-align: left;
  display:  none;
  margin: 18px auto;
  min-height: 200px;
  border-radius: 5px;
  width: 60%;
}

footer {
  background-color: #2C3E50;
  height: 100px;
  text-align: center;
  padding-top: 40px;
}

.flex {
  display: flex;
}


/**********
Example elements
**********/

.trans {
  transition: 1s;
}

.trans:hover {
  transition: 1s;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #E37222;
  margin: 0 auto;
}

.square:hover {
  cursor: pointer;

}

.triangle {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid #E37222;
  margin: 0 auto;
}

.triangle:hover {
  cursor: pointer;
}

/* Rotate & Scale*/
.rotate:hover {
  transform: rotate(180deg) scale(1.5);
}

/* Translate */
.translate-box {
  margin: 0 auto;
  width: 340px;
  height: 200px;
  border: 2px dashed #2C3E50;
  position: relative;
}


.translate-box:hover {
  cursor: pointer;
}

.translate-box > div {
  width: 30px;
  height: 30px;
  position: absolute;
  transition: 2s;
  background-color: #E37222;
}

.tri-top-right {
  right: 0px;
}

.tri-btm-left {
  bottom: 0px;
}
.tri-btm-right {
  bottom: 0px;
  right: 0px;
}

.translate-box:hover > div {
  transition: 2s;
}

.translate-box:hover .tri-top-left {
  transform: translateY(170px);
}
.translate-box:hover .tri-top-right {
  transform: translateX(-310px);
}
.translate-box:hover .tri-btm-left {
  transform: translateX(310px);
}
.translate-box:hover .tri-btm-right {
  transform: translateY(-170px);
}


.sliding-square {
  width: 100px;
  height: 100px;
  background-color: #2C3E50;
  margin: 0;
}

/* Dropdown */
.ex-dd {
  border: 2px dashed #2C3E50;
  border-radius: 8px;
  height: 200px;;
  width: 200px;
  padding: 5px;
}

.dropdown {
  width: 140px;
  margin: 0 auto;
  padding: 20px;
}
.dropdown > a {
  padding: 10px;
  cursor: pointer;
  font-size: 18px;

}

.dropdown i {
  color: white;
  margin-left: 4px;
}

.dropdown:hover ul {
  display: block;
}

.dropdown ul {
  display: none;
  padding: 20px;
  width: 100px;
  margin: 10px auto;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #2C3E50;
  border-radius: 3px;
}

.dropdown ul li {
  padding-bottom: 10px;
}

.dropdown ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Flexbox */

#flexbox {
    text-align: none;
}

#flexbox > h4 {
  margin-bottom: 8px;
  font-size: 20px;

}


.flex-box {
  margin: 0 auto 120px;
  padding: 20px;
  width: 70%;
  border: 3px dashed #2C3E50;
  border-radius: 8px;
}

.flex-item {
  display: block;
  padding: 20px;
  margin-top: 10px;
  border: 1px dotted #2C3E50;
  height: 50px;
}

.flex-item:hover {
  cursor: pointer;
  display: flex;
  padding-top: 36px;
  padding-bottom: 4px;
  border: 1px solid #2C3E50;
}


.space-bt:hover {
  justify-content: space-between;
}

.space-ar:hover {
  justify-content: space-around;
}

.flex-center:hover {
  justify-content: center;
}

.flex-end:hover {
  justify-content: flex-end;
}

.flex-start:hover {
  justify-content: flex-start;
}


/* Z-Index */
.z-index .flex {
  justify-content: center;
}

.z-container {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  position: relative;
}

.z-blue, .z-green, .z-yellow, .z-red {
  position: absolute;
  width: 160px;
  height: 160px;
}

.z-blue {
  background-color: lightblue;
  border: 5px solid blue;
  color: blue;
  z-index: 20;
}
.z-green {
  background-color: lightgreen;
  border: 5px solid green;
  color: green;
  top: 125px;
  left: -5px;
  z-index: 0;
}
.z-yellow {
  background-color: lightyellow;
  border: 5px solid yellow;
  color: black;
  left: 125px;
  top: 125px;
  z-index: 5;
}
.z-red {
  background-color: pink;
  border: 5px solid red;
  color: red;
  right: 0px;
  z-index: 19;
}


/* Box Model */

#box-model > ul {
 justify-content: center;
}

.boxes > li {
  border: 3px dashed #2C3E50;
}

#box-model > ul > li {
  width: 150px;
  height: 100px;
  margin: 0 20px 16px;
}

.add-margin, .add-padding, .add-both {
  border: 2px solid #E37222;
  transition: 1s;
}

#box-model li:hover {
  cursor: pointer;
}

#box-model li:hover > div {
  transition: 1s;
}

#box-model li:hover > .add-margin {
  margin: 40px;
}
#box-model li:hover > .add-padding {
  padding: 20px;
}
#box-model li:hover > .add-both {
  margin: 20px;
  padding: 20px;
}





#snow {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

#snow ul {
  border: 3px dashed #2C3E50;
  border-radius: 5px;
  padding: 5px;
}

#snow ul li:first-child {
  font-size: 100px;
}

@keyframes spin {
  from { transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

#snow .spin:hover {
  cursor: pointer;
  animation: spin 2s linear infinite;
}

@keyframes fade {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

#snow .fade:hover {
  cursor: pointer;
  animation: fade 3s linear infinite;
}


@keyframes switch {
  0% { color: #FFFFFF; }
  50% { color: #2C3E50; }
  100% { color: #FFFFFF; }
}

#snow .switch:hover {
  cursor: pointer;
  animation: switch 3s infinite;
}

@keyframes shrink {
  0% { transform: scale(1); }
  50% { transform: scale(0.2); }
  100% { transform: scale(1); }
}

#snow .shrink:hover {
  cursor: pointer;
  animation: shrink 3s infinite;
}

@keyframes all {
  0% {
    transform: scale(1) rotate(0deg);
    color: #FFFFFF;
    opacity: 1;
  }
  50% {
    transform: scale(0.2);
    color: #2C3E50;
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(360deg);
    color: #FFFFFF;
    opacity: 1;
  }
}

#snow .snow-all:hover {
  cursor: pointer;
  animation: all 3s infinite;

}
